doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/vendor/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/css/vendor/bootstrap/bootstrap-theme.min.css')
  body
    block content
  script(src='/js/build/bundle.js')
